$yellow: rgba(255,204,5,1);
$blue: rgba(53,193,224,1);
$orange: rgba(250,170,67,1);
$red: rgba(213,93,38,1);
$grey: rgba(153,142,124,1);
$primary: #383a3f;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: 'Istok Web', 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: rgba(179,189,198,1);
    background-color: rgba(48,51,54,1);
    a {
        color: #fff;
    }
}
.header {
    background-color: $primary;
    position: fixed;
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
    .top {
        display: flex;
        justify-content: space-between;
        .left {
            .logo {
                margin-top: 20px;
                font-size: 40px;
                font-weight: bold;
                color: #fff;
                span {
                    color: rgba(255,204,5,1);
                }
            }
            .sub {
                color: #fff;
                font-size: 12px;
                margin-top: 8px;
            }
        }
        .right {
            margin-top: 20px;
            display: flex;
            .label {
                text-transform: uppercase;
                font-weight: 400;
                margin-bottom: 5px;
            }
            .sort, .filter-phase, .filter-cause {
                margin-left: 20px;
            }
        }
    }
    .bottom {
        border-top: 1px solid #777;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        .left {
            span#total-num {
                font-weight: bold;
            }
        }
    }
}

.main-flex {
    padding: 30px;
    padding-top: 160px;
    display: flex;
    .left {
        flex: 3;
        padding: 10px;
        .start-year {
            padding: 5px;
            background-color: $primary;
            display: inline;
        }
        .isotope {
            margin-top: 50px;
            .item {
                border-radius: 50%;
                height: 50px;
                width: 50px;
                background: $yellow;
            }
        }
    }
    .right {
        width: 300px;
        .years-panel {
            position: fixed;
            top: 150px;
            bottom: 60px;
            width: 250px;
            right: 40px;
            background: #3c4044;
            border-radius: 5px;
            padding: 20px;
            box-sizing: border-box;
            font-size: 10px;
            .years {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                .item {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .label {
                        opacity: 0.7;
                        transition: all 0.4s ease;
                        margin-right: 10px;
                    }
                    .bars {
                        display: flex;
                        &>div {
                            position: relative;
                            width: 35px;
                            height: 4px;
                            transition: all 0.4s ease;
                            &.yellow {
                                background: $yellow;
                            }
                            &.blue {
                                background: $blue;
                            }
                            &.orange {
                                background: $orange;
                            }
                            &.red {
                                background: $red;
                            }
                            &.grey {
                                background: $grey;
                            }
                        }
                    }
                    &:hover {
                        .label {
                            opacity: 1;
                        }
                        .bars {
                            &>div {
                                height: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.footer {
    background-color: $primary;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    .left {
        display: flex;
        .size, .transparency {
            margin-right: 20px;
        }
    }
}